---
layout: layouts/base.njk
title: Learn Eleventy
---
<div id="site">
  <img src="img/logo.png" class="logo" alt="Eleventy logo" />
  <p>Edit <code>src/index.njk</code> and save to reload.</p>
  <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">{{title}}</a>
</div>